@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto:300");
/* global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  border: 1px solid teal;
  list-style-type: none;
  display: flex;
}

li {
  border: 1px solid thistle;
}

a {
  border: 1px solid turquoise;
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

section {
  border: 1px solid salmon;
  /* height: 100vh; */
}

.btn {
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transform: scale(1.02);
  transition: all 0.1s;
}

.btn-primary {
}

.btn-secondary {
}

/* individual settings */
.home {
  height: 100vh;
}
.about {
  height: 100vh;
}

.navbar {
  position: sticky;
  top: 0px;
  border: 1px solid goldenrod;
  background-color: goldenrod;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.navbar-name {
  margin-left: 40px;
}

.navbar-ul {
  display: none;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
}

.project-image {
  border: 1px solid brown;
  width: 90%;
  margin: 0 auto;
  height: 200px;
}

@media (min-width: 1280px) {
  .navbar-hamburger {
    display: none;
  }

  .navbar-ul {
    display: flex;
  }
}
