@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto:300");

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  color: #fff;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

/* global settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  border: 1px solid teal;
  list-style-type: none;
  display: flex;
}

li {
  border: 1px solid thistle;
}

a {
  border: 1px solid turquoise;
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

section {
  border: 1px solid salmon;
  /* height: 100vh; */
}

.btn {
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transform: scale(1.02);
  transition: all 0.1s;
}

.btn-primary {
}

.btn-secondary {
}

/* individual settings */
.home {
  height: 100vh;
}
.about {
  height: 100vh;
}

.navbar {
  position: sticky;
  top: 0px;
  border: 1px solid goldenrod;
  background-color: goldenrod;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.navbar-name {
  margin-left: 40px;
}

.navbar-ul {
  display: none;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
}

.project-image {
  border: 1px solid brown;
  width: 90%;
  margin: 0 auto;
  height: 200px;
}

@media (min-width: 1280px) {
  .FABMenu {
    display: none;
  }

  .navbar-ul {
    display: flex;
  }
}

/* navbar & navbar animation */
.FABMenu {
  position: absolute;
  top: 125px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 600px;
  height: 200px;
}

.FABMenu input {
  position: absolute;
  top: 0;
  left: 50%;
  width: 80px;
  height: 80px;
  z-index: 20;
  border-radius: 80px;
  opacity: 0;
  cursor: pointer;
}

.navbar-hamburger {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 80px;
  height: 80px;
  background-color: #e84f3e;
  border-radius: 100%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  z-index: 10;
  cursor: pointer;
}

.dots span {
  position: absolute;
  top: 45%;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #fff;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.first {
  margin-left: 1em;
}
.second {
  margin-left: 2.3em;
}
.third {
  margin-left: 3.6em;
}

/* dots to &close; */
.FABMenu input:checked ~ .navbar-hamburger .dots .first {
  top: 20px;
  height: 60px;
  transform-origin: top;
  transform: rotate(-45deg);
  transition: all 0.2s ease-in-out;
}
.FABMenu input:checked ~ .navbar-hamburger .dots .third {
  top: 20px;
  height: 60px;
  transform-origin: top;
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}

.navbar-items-bar {
  position: absolute;
  top: 4.5%;
  right: 45%;
  width: 380px;
  height: 60px;
  background-color: #e84f3e;
  border-radius: 60px;
  box-shadow: 0px 5px 20px #f19181;
  z-index: 5;
  /*   animation-name: expand-the-bar;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; */
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.FABMenu input:checked ~ .navbar-items-bar {
  transform: translateX(50px);
  /* transform: scaleX(1); */
}
.action_items span {
  position: absolute;
  top: 25%;
  width: 20px;
  padding-left: 35px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.first_item {
  left: 5%;
}
.second_item {
  left: 20%;
}
.third_item {
  left: 35%;
}
.fourth_item {
  left: 50%;
}

/* icons showup time animation */
.FABMenu input:checked ~ .navbar-items-bar .action_items .first_item {
  opacity: 1;
  transition-delay: 0.35s;
}
.FABMenu input:checked ~ .navbar-items-bar .action_items .second_item {
  opacity: 1;
  transition-delay: 0.3s;
}
.FABMenu input:checked ~ .navbar-items-bar .action_items .third_item {
  opacity: 1;
  transition-delay: 0.25s;
}
.FABMenu input:checked ~ .navbar-items-bar .action_items .fourth_item {
  opacity: 1;
  transition-delay: 0.2s;
}
